{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-unused-vars": 1,
    "no-console": 0,
    "prefer-destructuring": 0,
    "no-underscore-dangle": 0
  }
}
